body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0d1b2a;
  color: #fff;
}

header {
  background-color: #1b263b;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

nav#top-coin-prices {
  background-color: #1b263b;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;  /* Ensure the container spans the full width */
}

.coin-prices {
  display: inline-block;
  animation: scroll 30s linear infinite;
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.coin-prices span {
  display: inline-block;
  padding: 0 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-panel,
.right-panel {
  background-color: #1b263b;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 48%;
}

section {
  margin-bottom: 20px;
}

#positions {
  background-color: #1b263b;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(100% - 40px);
  margin: 20px auto;
}

h2 {
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #333;
}

button:hover {
  background-color: #555;
}

.chart {
  background-color: #000;
  height: 400px;
  border-radius: 8px;
}

.news-content {
  height: 280px; /* Further adjusted height for news content */
  background-color: #1b263b;
  border-radius: 8px;
  margin-bottom: 20px;
}

.news-item {
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid #1c1c1c;
  border-radius: 4px;
  background-color: #2b2b2b;
  color: #fff;
}

.news-title a {
  color: #00aaff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

.news-title a:hover {
  text-decoration: underline;
}

.news-meta {
  font-size: 0.9em;
  color: #aaa;
  margin-top: 5px;
}

.news-content {
  max-height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
}

.news-content::-webkit-scrollbar {
  width: 10px;
}

.news-content::-webkit-scrollbar-track {
  background: #1c1c1c;
}

.news-content::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

.news-content::-webkit-scrollbar-thumb:hover {
  background: #888;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: calc(100% - 20px); /* Width adjusted to match parent container */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ccc;
  color: #333;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

input#coin,
input#amount {
  margin-bottom: 10px; /* Added margin-bottom for gap */
}

button.buy-button {
  background-color: #28a745;
  width: calc(50% - 10px); /* Adjusted width for button */
  margin-right: 10px;
}

button.sell-button {
  background-color: #dc3545;
  width: calc(50% - 10px); /* Adjusted width for button */
}

.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0d1b2a;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.position span {
  margin-right: 20px;
}

.green-button {
  background-color: #28a745;
}

.red-button {
  background-color: #dc3545;
}

button.close-position-button {
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

button.close-position-button:hover {
  background-color: #ff0000;
}

footer {
  background-color: #1b263b;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.positions-header {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Adjust number of columns */
  align-items: center;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.position {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Adjust number of columns */
  align-items: center;
  text-align: center;
  padding: 10px 0;
}

.position div,
.positions-header span {
  padding: 10px 0;
}
